body {
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    background-color: lightgray;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
